# Add any directories, files, or patterns you don't want to be tracked by version control
####
# CocoaPods
Pods/
!Podfile
!Podfile.lock

####
# Other Xcode files
profile
*.hmap
*.ipa

####
# Xcode build files
DerivedData/
build/
Builds/
